.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  color: white;
  background-color: #013e08;
  padding: 15px 25px 10px;
}

.navbar {
  background-color: #a7beaa;
  color: black;
  padding: 5px 10px 5px;
}

.trip-image {
  width: 500px;
  height: auto;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c4c4c4;
  padding: 10px 0px 10px 150px;

}

.footer-logo {
  color: red;
}

.footer-info {
  padding: 0 100px 0 0;

}

/* #navigation li a {
  color: red;
}

#navigation li a:hover {
  color: green;
}

#navigation li a:active {
  color: white;
} */


