html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.content-container {
  min-height: calc(100vh - 50px);
}

.header {
  color: white;
  background-color: #013e08;
  padding: 15px 25px 10px;
}

.navbar {
  background-color: #a7beaa;
  color: black;
  padding: 5px 10px 5px;
}

.trip-image {
  width: 500px;
  height: auto;
}

/* Learned about CSS Grid via YouTube: https://www.youtube.com/watch?v=t6CBKf8K_Ac&t=2199&ab_channel=freeCodeCamp.org */

.container-home {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto 100px 100px;
}

.home-hero {
  grid-column: 1 / 12;
}

.home-fact1 {
  grid-column: 1 / 3;
  grid-row: 100%;
  display: block;
  text-align: center;
  margin-left: 30px;
}

.home-fact2 {
  grid-column: 3 / 5;
  grid-row: 100%;
  display: block;
  text-align: center;
 
}

.home-fact3 {
  grid-column: 5 / 7;
  grid-row: 100%;
  display: block;
  text-align: center;
 
}

.home-fact4 {
  grid-column: 7 / 9;
  grid-row: 100%;
  display: block;
  text-align: center;
  
}

.home-fact5 {
  grid-column: 9 / 11;
  grid-row: 100%;
  display: block;
  text-align: center;
  margin-right: 30px;
}

#fact {
  font-size: 30px;
 }

 .home-fact1 img {
  width: 40px;
  height: auto;
  padding: 0 5px 10px 0;
 }

 .home-fact2 img {
  width: 40px;
  height: auto;
  padding: 0 5px 10px 0;
 }

 .home-fact3 img {
  width: 40px;
  height: auto;
  padding: 0 5px 10px 0;
 }

 .home-fact4 img {
  width: 40px;
  height: auto;
  padding: 0 5px 10px 0;
 }

 .home-fact5 img {
  width: 40px;
  height: auto;
  padding: 0 5px 10px 0;
 }

.home-bottom-left {
  grid-row: 3 / 4;
  grid-column: 1 / 6
}

.home-bottom-right {
  grid-row: 3 / 5;
  grid-column: 6 / 12
}

.home-hero {
  position: relative;
  text-align: center;
  color: white;
  padding: 30px 30px 30px 30px;
}

#h1-hero {
  position: absolute;
  top: 125px;
  left: 50px;
  padding: 0 0 0 30px;
}

#h2-hero {
  position: absolute;
  top: 250px;
  left: 50px;
  text-align: left;
  width: 1000px;
  padding: 0 0 0 30px;
}

.hero-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.img-gradient {
  position: relative;
}

.img-gradient::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  border-radius: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#darken {
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url(ttps://i.imgur.com/vwhyKP2.png);
}

#home-image-bottom {
  height: 500px;
  width: 500px;
  margin: 40px 40px 20px 60px;
}

.home-bottom-right {
  background-color: #013e08;
  width: auto;
  height: 500px;
  margin: 40px 0 20px 0px;
  padding: 20px 50px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.quote-text {
  font-style: italic;
  font-size: 1.5rem;
}

.page-title {
  margin: 25px 0 25px 0
}

#car-details-review {
  font-size: 16px;
}

.cars, .car-details{
  padding: 0 50px;
}

.car-card {
  display: flex;
  flex-direction: column;
  height: 625px;
  border: solid 1px;
  border-radius: 25px;
  padding: 15px 25px 0 25px;
}

.car-card img {
  max-width: 100%;
  max-height: 100%;
}

.car-card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card-label {
  display: inline;
  font-size: .9em;
}

.car-review {
  text-align: justify;
}

.car-card-details {
  margin-top: auto;
}

.car-details img {
  width: 100%;
  height: auto;
}

.details-list {
  margin-top: 15px
}

.details-rating {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}

#overall-rating {
  position: relative;
  background-color: #a7beaa;
  font-size: 18px;
  padding: 10px 25px;
  top: 15px;
  left: 45px;
  border-radius: 25px;
}

#details-rating-score-container {
  border: solid 1px #a6a4a4;
  border-radius: 25px;
  text-align: center;
  padding: 25px 65px;
  margin-bottom: 15px;
}

#car-details-score {
  font-weight: bold;
  font-size: 50px;
}

.know-before {
  padding: 0 50px;
}

.know-tips {
  display: inline-block;
  color: white;
  background-color: #013e08;
  font-size: 25px;
  margin: 35px 0px;
  padding: 20px 30px 20px 50px;
  width: 600px;
  height: auto;
  position: relative;
  z-index: 1;
}

.tip-num {
  font-size: 35px;
}

.know-before-img {
  display: flex;
  position: absolute;
  z-index: 0;
}

#know-before-img {
  width: 650px;
  height: auto;
  margin: 0px;
  padding-top: 65px;
}

.trip-planner {
  padding: 0 50px;
}

.trip-planner a {
  text-decoration: none;
  color: black;
}

.trip-column-left a {
  text-decoration: none;
  color: black;
}

.trip-column-left {
  padding: 25px 0px 0px 60px;
}

.add-trip {
  background-color: #a7beaa;
  font-size: 16px;
  padding: 10px 25px;
  display: inline;
  border-radius: 25px;
  margin: 0px 0px 0px 50px;
}

.trip-image {
  width: 95%;
  height: auto;
  margin: 20 0 0 30px;
}

.show-trip {
  display: inline;
  margin: 100px 0px 0px 10px;
  padding: 0 0
}

.modify-trip {
  display: inline;
  padding: 0 10px;
}

.delete-trip {
  display: inline;
}

.trip-details {
  margin: 75px 0 0 0;
}

.add-new-trip {
  padding: 0 50px;
}

.button {
  background-color: #a7beaa;
  font-size: 1rem;
  padding: 0.75rem 0.375rem;
  display: inline;
  border-radius: 5px;
  border: none;
  text-decoration-color: red;
}

.edit-trip {
  padding: 0 50px;
}

.delete-trip-conf {
  padding: 0 50px;
}

.delete {
  margin: 0 15px 0 0;
}

.charging-locations {
  margin: 0 50px;
}

.location-search {
  display: flex;
  justify-content: center;
  padding-top: 90px
}

input[id=location] {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 8px 15px;
  width: 225px;
  text-transform: uppercase;
}

input[id=search-button] {
  background-color: #d9d9d9;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 92px;
  left: 342px;
  z-index: 2;
  width: 35px;
  height: 35px;
  font-size: 20px;
  font-style: bold;
}

.charging-card {
  background-color: #a7beaa;
  height: 300px;
  padding: 15px;
  border-radius: 10px;
  border: solid 2px #013e08;
}

.about {
  margin: 0 50px;
}

.about-info {
  display: inline-block;
  color: white;
  background-color: #013e08;
  font-size: 25px;
  padding: 20px 0px 20px 50px;
  width: 600px;
  height: auto;
  position: relative;
  z-index: 1;
}

.about-info h2 {
  font-size: 35px;
  margin-top: 70px;
}

.about-info p {
  font-size: 15px;
  margin: 35px 72px 0 0;
  text-align: justify;
}

#about-img {
  width: 650px;
  height: auto;
  margin: 0px;
  padding-top: 65px;
}

.link-resources {
  font-size: 15px;
  padding: 40px 0 70px 10px;
}

.link-resources a {
  margin-right: 15px;
}

.contact {
  margin: 0 50px;
}

.contact-confirmation {
  margin: 0 50px;
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
  margin-top: 10px;
}

.footer {
 
  width: 100%;
  background-color: #c4c4c4;
  padding: 10px 0px 10px 150px;
  margin-top: auto;
  text-align: center;
}

.footer-logo {
  color: red;
}

.footer-info {
  padding: 0 100px 0 0;
}