html, body {
  margin: 0;
  padding: 0;
}

.header {
  color: white;
  background-color: #013e08;
  padding: 15px 25px 10px;
}

.navbar {
  background-color: #a7beaa;
  color: black;
  padding: 5px 10px 5px;
}

.trip-image {
  width: 500px;
  height: auto;
}

/* Learned about CSS Grid via YouTube: https://www.youtube.com/watch?v=t6CBKf8K_Ac&t=2199&ab_channel=freeCodeCamp.org */

.container-home {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto 100px 100px;
}

.home-hero {
  grid-column: 1 / 12;
}

.home-fact1 {
  grid-column: 1 / 3;
  grid-row: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.home-fact2 {
  grid-column: 3 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.home-fact3 {
  grid-column: 5 / 7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.home-fact4 {
  grid-column: 7 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.home-fact5 {
  grid-column: 9 / 11;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
}

.home-bottom-left {
  grid-row: 3 / 4;
  grid-column: 1 / 6
}

.home-bottom-right {
  grid-row: 3 / 5;
  grid-column: 6 / 12
}

.home-hero {
  position: relative;
  text-align: center;
  color: white;
  padding: 30px 30px 30px 30px;
}

#h1-hero {
  position: absolute;
  top: 125px;
  left: 50px;
}

#h2-hero {
  position: absolute;
  top: 250px;
  left: 50px;
  text-align: left;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  
}

#home-image-bottom {
  height: 500px;
  width: 500px;
  margin: 40px 40px 20px 60px;
}

#fact1 {
 font-size: 30px;
 }

.home-bottom-right {
  background-color: #013e08;
  width: auto;
  height: 500px;
  margin: 40px 0 20px 0px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.page-title {
  margin: 25px 0 25px 0
}

.cars {
  padding: 0 50px;
}

.car-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  border-style: solid;
  border-radius: 25px;
  padding: 15px 25px 0 25px;
}

.car-card img {
  max-width: 100%;
  max-height: 100%;
}

.card-label {
  display: inline;
  font-size: .9em;
}

.car-review {
  text-align: justify;
}

.car-card-details {
  margin-top: auto;
}

/* .cars {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(3, 100px);
} */


/* .car-card {
  grid-column: 1 / 3;
  grid-row: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
} */

.footer {
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c4c4c4;
  padding: 10px 0px 10px 150px;
  margin: 50px 0 0 0;
}

.footer-logo {
  color: red;
}

.footer-info {
  padding: 0 100px 0 0;

}


/* #navigation li a {
  color: red;
}

#navigation li a:hover {
  color: green;
}

#navigation li a:active {
  color: white;
} */


